---
layout: default
---

<script>
        $(document).ready(function(){
            $('#typewriteText').typewrite({
                actions: [
                    {type: 'Düşünen, uygulamaya çalışan ,elinden geldiğince özgür yazılımlarla vakit harcamakla meşgul biri'}
                ]
            });
        });
    </script>


<div class="col-lg-8 offset-md-2">
  <div class="jumbotron" style="text-align: center;">
    <h1 class="display-4">Hello, world!</h1>
    <h3> Konya'da yaşayan bir yazılımcı </h3>
    <p class="lead" id="typewriteText"></p>
    <button class="btn btn-dark btn-lg"><a href="/about">Hakkındaki şeyler </a></button>
  </div>
</div>
